<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3 animated fadeInLeft">
    <div class="feature" style="text-align:center">
      <img class="" src="images/buceo/room.png">
    </div>
    <p>Hospedaje 7 dias y 6 Noches en Dive-Resort</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 animated fadeInUp">
    <div class="feature" style="text-align:center">
      <img class="" src="images/buceo/manati.png">
    </div>
    <p>Inmersiones ilimitadas durante la estancia</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 animated fadeInDown">
    <div class="feature" style="text-align:center">      
        <img src="images/buceo/comida2.png" alt="" data-pin-nopin="true">
    </div>
    <p>Tres Comidas al día Incluidas.</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 animated fadeInRight">
    <div class="feature" style="text-align:center">
      <img class="" src="img/turtle2.png">
    </div>
    <p>Staff amigable y flexibilidad en horarios</p>
  </div>
</div>