<div class="row">
  <div class="col-xs-12 col-sm-3 animated fadeInLeft">
    <div class="feature" style="text-align:center">
      <img class="" src="images/world.jpg">
    </div>
    <p>Tienda en diferentes idiomas que acepta pagos en todo el mundo.</p>
  </div>
  <div class="col-xs-12 col-sm-3 animated fadeInUp">
    <div class="feature" style="text-align:center">
      <img class="" src="images/clock.jpg">
    </div>
    <p>Aumenta tus ventas, impulsa tu empresa y vende 24/7</p>
  </div>
  <div class="col-xs-12 col-sm-3 animated fadeInDown">
    <div class="feature" style="text-align:center">
      <a href="http://www.shopify.com/?ref=webvelopdesign" target="_blank">
        <img src="images/shopify.png" alt="" data-pin-nopin="true">
      </a>
    </div>
    <p>Shopify: la plataforma de <br/>E-commerce m&#225;s segura y robusta.</p>
  </div>
  <div class="col-xs-12 col-sm-3 animated fadeInRight">
    <div class="feature" style="text-align:center">
      <img class="" src="images/shop.jpg">
    </div>
    <p>Crece tu tienda virtual junto con tu empresa, con una plataforma flexible y.</p>
  </div>
</div>