<div class="row">
  <div class="col-xs-12 col-sm-4">
    <p class="huge"> Alojamiento</p>
    <p class="smaller">7 días y 6 noches</p>
  </div>
  <div class="col-xs-12  col-sm-4">
    <span class="huge">
    <span class="symbol"></span>
    <span id="col1">Inmersiones</span></span>
    <span class="smaller">Ilimitadas</span>
  </div>
  <div class="col-xs-12  col-sm-4">
    <span class="huge">
    <span class="symbol">  
    </span><span id="col1">Comidas</span></span>
    <span class="smaller">Incluídas</span>
  </div>
</div>