<div class="row">
  <div class="col-xs-12 col-sm-4">
    <p class="huge"> 7 Días</p>
    <p class="smaller"></p>
  </div>
  <div class="col-xs-12  col-sm-4">
    <span class="huge">
    <span class="symbol"></span>
    <span id="col1">Sin Límite</span></span>
    <span class="smaller">de inmersiones</span>
  </div>
  <div class="col-xs-12  col-sm-4">
    <span class="huge">
    <span class="symbol">  
    </span><span id="col1">Alojamiento</span></span>
    <span class="smaller">Incluído</span>
  </div>
</div>