<div class="shopify-one" data-toggle="modal" data-target="#myModal">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col col-img">
      <div class="shopify-image">

        <img class="shopifyapp" src="img/anemona.jpg">

      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col">
      <div class="shopify-text one option">
        <h3>Sitios de Inmersión</h3>
        <p>En un radio no mayor a 15km, se pueden accesar a mas de 15 diferentes sitios de inmersión, los cuales pueden ser visitados cada día. Adem&#225;s de el arrecife de coral que se encuentra sobre la playa de el hotel. Este se extiende por varios kil&#243;metros. por lo que es posible hacer muchas y muy buenas inmersiones sin tener que salir del hotel.</p>
      </div>
    </div>
  </div>
</div>
<div class="shopify-two" >
  <div class="row">
    <div class="col-xs-12 col-sm-7 col">
      <div class="shopify-text one">
        <h3>Marsa Alam</h3>
       <p> Marsa Alam es una ciudad al sur-este de Egipto, localizado en la parte oeste de el Mar Rojo. Es un destino relativamente nuevo para turistas lo cual permite que mientras que se pueden disfrutar de sus playas y lugares de buceo de manera casi privada, tiene un nuevo Aeropuerto Internacional lo cual facilita el acceso a visitantes. </p>
        <p>Marsa Alam, tiene el balance perfecto entre un lugar aislado lejos de las masas turisticas que permite bucear en sus arrefices que se encuentran en buen estado, mientras que tiene la infraestructura para hacer inmersiones seguras (cámara hiperbárica) y tener unas vacaciones cómodas y relajadas.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 col col-img">
      <div class="shopify-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618440.7235704204!2d31.424063641567262!3d27.66680815504121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15b4ea245c03b81d%3A0x51ad8e167c79ac32!2sMarsa+Alam%2C+Qesm+Marsa+Alam%2C+Red+Sea+Governorate%2C+Egypt!5e0!3m2!1sen!2sde!4v1466964272749" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="shopify-three" data-toggle="modal" data-target="#myModal-resort">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col col-img">
      <div class="shopify-image">
        <img class="shopifyapp" src="img/sunset.jpg">
      </div>
    </div>
    <div class="col-xs-12 col-sm-7 col">
      <div class="shopify-text one">
        <h3>Beach Safari Resort</h3>
        <p>Pero sin lugar a dudas, las instalaciónes de "Beach Safari Resort" te brindarán una estancia agradable y placentera. Sus habitaciónes son amplias y frescas. Tienen todos los servicios y aire acondicionado.</p>
        <p>Al termino de el dia despues de todas tus inmersiónes podras descansar, relajarte en la alberca y prepararte para más inmersiones al dia siguiente.</p>
      </div>
    </div>
  </div>
</div>