<div class="shopify-one">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col col-img">
      <div class="shopify-image">
        <img class="iphone" src="images/iphone.png" width=200px>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col">
      <div class="shopify-text one option">
        <h3>Experiencia y sistema de clientes</h3>
        <p>Shopify es la plataforma de E-commerce m&#225;s completa, segura y flexible que combina herramientas para que tu tienda sea lo m&#225;s efectiva posible.  La plataforma le da una experiencia &#250;nica para tu cliente, y te permite llevar las cuentas de tus clientes, guardando sus perfiles, compras, pagos etc. Adem&#225;s integra un sistema avanzado de seguimiento de cuentas y obtener estad&#237;sticas. </p>
      </div>
    </div>
  </div>
</div>
<div class="shopify-two">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col">
      <div class="shopify-text one">
        <h3>Administraci&#243;n de productos</h3>
        <p>Shopify tiene un sistema de administraci&#243;n de productos muy robusto paraorganizar y clasificar tus productos, agregar variantes como tallas, colores, etc. y agregar tags, colecciones, proveedores, etc. Tambi&#233;n te proporciona un panel para poder administrar f&#225;cilmente tu inventario y un &#225;rea de estad&#237;stica para evaluar tus ventas, clientes y el crecimiento de tu tienda (con la opci&#243;n de hacer reportes). </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 col col-img">
      <div class="shopify-image">
        <img class="ipad" src="images/ipad.png">
      </div>
    </div>
  </div>
</div>
<div class="shopify-three">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col col-img">
      <div class="shopify-image">
        <img class="shopifyapp" src="images/shoppifyapp.png">
      </div>
    </div>
    <div class="col-xs-12 col-sm-7 col">
      <div class="shopify-text one">
        <h3>Flexibilidad a trav&#233;s de Aplicaciones</h3>
        <p>Pero sin lugar a dudas, lo que m&#225;s nos gusta de Shopify son las aplicaciones adicionales que puedes instalar dependiendo de las necesidades de tu negocio. Estas te permiten crecer junto con el sistema e ir adaptando tu tienda, con nuevas herramientas y funcionalidades.</p>
      </div>
    </div>
  </div>
</div>