<div class="shopify-one">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col col-img">
      <div class="shopify-image">
        <img class="iphone" src="images/iphone.png" width=200px>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col">
      <div class="shopify-text one option">
        <h3>Sitios de Inmersión</h3>
        <p>En un radio no mayor a 15km, se pueden accesar a mas de 15 diferentes sitios de inmersión, los cuales pueden ser visitados cada día. Además de el arrecife de coral que se encuentra sobre la playa de el hotel. Este se extiende por varios Km. por lo que es posible hacer muchas y muy buenas inmersiones sin tener que salir del hotel.</p>
      </div>
    </div>
  </div>
</div>
<div class="shopify-two">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col">
      <div class="shopify-text one">
        <h3>Marsa Alam</h3>
        <p>Shopify tiene un sistema de administraci&#243;n de productos muy robusto paraorganizar y clasificar tus productos, agregar variantes como tallas, colores, etc. y agregar tags, colecciones, proveedores, etc. Tambi&#233;n te proporciona un panel para poder administrar f&#225;cilmente tu inventario y un &#225;rea de estad&#237;stica para evaluar tus ventas, clientes y el crecimiento de tu tienda (con la opci&#243;n de hacer reportes). </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 col col-img">
      <div class="shopify-image">
        <img class="ipad" src="images/ipad.png">
      </div>
    </div>
  </div>
</div>
<div class="shopify-three">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col col-img">
      <div class="shopify-image">
        <img class="shopifyapp" src="images/shoppifyapp.png">
      </div>
    </div>
    <div class="col-xs-12 col-sm-7 col">
      <div class="shopify-text one">
        <h3>Flexibilidad a trav&#233;s de Aplicaciones</h3>
        <p>Pero sin lugar a dudas, lo que m&#225;s nos gusta de Shopify son las aplicaciones adicionales que puedes instalar dependiendo de las necesidades de tu negocio. Estas te permiten crecer junto con el sistema e ir adaptando tu tienda, con nuevas herramientas y funcionalidades.</p>
      </div>
    </div>
  </div>
</div>