<div class="container">
    <div class="row">
        <div class="col-md-12" data-wow-delay="0.2s">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel" style="height:400px;">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="images/buceo/testimonial1.jpg" alt="">
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="images/buceo/testimonial2.jpg" alt="">
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="images/buceo/testimonial3.jpg" alt="">
                    </li>
                </ol>
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner text-center">
                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                            <a href ="https://www.tripadvisor.com/ShowUserReviews-g311425-d7106659-r245384121-Beach_Safari_Resort-Marsa_Alam_Red_Sea_and_Sinai.html#CHECK_RATES_CONT">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="arrow"></div>                         
                                    <p class="testimonial">Esta es mi primera vez en Egipto y definitivamente ha sido la mejor. El hotel, sus arrededores y todo el ambiente es fantástico. Puedes disfrutar de la magia del océano y el mar. La playa es casi privada, los cuartos son muy amplios y cómodos. El desierto que rodea al hotel hace que la estancia sea única</p>
                                    <small> KataFun - Budapest, Hungary</small>
                                </div>
                                </a>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <a href="https://www.tripadvisor.com/ShowUserReviews-g311425-d7106659-r244902461-Beach_Safari_Resort-Marsa_Alam_Red_Sea_and_Sinai.html#CHECK_RATES_CONT">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="arrow"></div>                                    
                                    <p class="testimonial">Desde hace algunos a&#241;os voy a Beach Safari y siempre es una experiencia agradable. En el hotel hay muy buenas camas, y amenidades. Los ba&#241;os y regaderas son excelentes y no podemos olvidar la nueva piscina!!!</p>
                                    <small> EricvAndel - Capelle aan den IJssel, The Netherlands </small>
                                </div>
                            </div>
                            </a>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="arrow"></div>
                                    <p class="testimonial">Pasamos dos semanas increíbles, los lugares para bucear muy tranquilos, mucha fauna marina y coral en buen estado.  Hemos visto delfines, manatís, tiburones, y muchísimo más. Además el servicio es excelente y el hotel muy bonito. Definitívamente un lugar para regresar.</p>
                                    <small>Rubén Cervantes - Alemania</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    </div> <!-- container -->