<div class="container">
    <div class="row">
        <div class="col-md-12" data-wow-delay="0.2s">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel" style="height:400px;">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="images/testimonial1.png" alt="">
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="images/testimonial2.png" alt="">
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="images/testimonial3.png" alt="">
                    </li>
                </ol>
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner text-center">
                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="arrow"></div>
                                    <p class="testimonial">Me gustó mucho el trabajo que realizaron en mi tienda, y gracias a eso ahora mis ventas han aumentado y he podido llegar a otros mercados!</p>
                                    <small>Rub&#233;n Mart&#237;nez, Maxpiel</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="arrow"></div>
                                    <p class="testimonial">Excelente! De verdad muchas gracias! Estoy super contenta con el trabajo que el equipo de Webvelop han hecho, son altamente recomendables y malos he estado promocionando</p>
                                    <small>Brenda Palafox, Vino Entre Amigos</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="arrow"></div>
                                    <p class="testimonial">Muchísimas gracias por todo, la tienda quedo excelente y nos ha estado dando mejores resultados de lo que esperábamos. Nos encanto haber trabajado con ustedes.</p>
                                    <small>Jorge Garc&#237;a de Le&#243;n, Usmartfoods</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div> <!-- container -->