<p>Tenemos una promoción especial para grupos de más de 5 personas, ya que les ofrecemos un precio inigualable:</p>
<h2>Sólo 450 EUR por persona</h4>
<uL>
  <li>
    <p><img class="" src="images/web1.png" alt="">Alojamiento 7 días y 6 noches en Dive-Resort (habitación doble) con piscina</p>
  </li>
  <li>
    <p><img class="" src="images/web2.png" alt=""> 3 comidas al día con manjares de la región</p>
  </li>
  <li>
    <p><img class="" src="images/web3.png" alt=""> Inmersiones ilimitadas en toda la estancia</p>
  </li>
  <li>
    <p><img class="" src="images/web4.png" alt=""> Servicio muy amable y personalizado, adaptado a los horarios del grupo</p>
  </li>
  <li>
  <!-- <p><img class="" src="images/web5.png" alt=""> Registro, configuraci&#243;n, pruebas y puesta en marcha de la tienda virtual con la plataforma de Shopify.</p>
  </li>
  <li>
    <p><img class="" src="images/web6.png" alt=""> Apoyo y soporte constante satisfaciendo sus necesidades y recomendando las mejores soluciones.</p>
  </li>-->
</uL>